<div id="sidebar" class="sidebar responsive ace-save-state">
    <ul class="nav nav-list" id="articleLst">
        <li class="">
            <a href="${base}/views/timeline">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 首页 </span>
            </a>
            <b class="arrow"></b>
        </li>
    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <script type="text/javascript">
        (function ($) {
            function initArticleList() {
                $.get("${base}/article/indexs", function (result) {
                    var articleLst = "";
                    var classify = [];
                    for (var key in result) {
                        classify = key.split(",");
                        articleLst += ' <li class=""><a href="#" class="dropdown-toggle"><i class="menu-icon fa ' + classify[1] + '"></i><span class="menu-text"> ' + classify[0] + ' </span><b class="arrow fa fa-angle-down"></b></a><b class="arrow"></b><ul class="submenu">';
                        result[key].forEach(function (article) {
                            articleLst += '<li class=""> <a href="${base}/article/html/' + article.id + '"> <i class="menu-icon fa fa-caret-right"></i>' + article.title + '</a> <b class="arrow"></b></li>';
                        });
                        articleLst += '</ul></li>';
                    }
                    $("#articleLst").append(articleLst);
                });
            }

            initArticleList();
        })($);
    </script>
</div>
