<#assign base=request.contextPath />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>最近发布的文章</title>
    <!-- /articles/classify_modification -->
    <!-- /articles/add -->
    <meta name="description" content="吕松松博客_最近发布的文章"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
</head>
<body>
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div id="timeline-1">
                        <div class="row">
                            <div id="articles" class="col-xs-12 col-sm-10 col-sm-offset-1">

                            </div>
                        </div>
                    </div>


                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script type="text/javascript">
    (function () {
        function initTimelineArticles() {
            $.get("${base}/article/recent/100", function (result) {
                if (result.length > 0) {
                    var timeline = [];
                    var timelineArticles = {};

                    classifyArticles(result, timeline, timelineArticles);
                    createElement(timeline, timelineArticles);
                }
            });
        }

        function classifyArticles(articles, timeline, timelineArticles) {
            articles.forEach(function (item) {
                var date = new Date(item.createTime);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
                Y = date.getFullYear();
                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
                D = date.getDate() + ' ';
                h = date.getHours() < 10 ? ('0' + date.getHours()) : date.getHours();
                m = date.getMinutes() < 10 ? ('0' + date.getMinutes()) : date.getMinutes();
                s = date.getSeconds() < 10 ? ('0' + date.getSeconds()) : date.getSeconds();
                var year_month = Y + "-" + M;
                item.time = M + "-" + D + " " + h + ":" + m;
                item.hour = h + ":" + m + ":" + s;
                if (typeof(timelineArticles[year_month]) == 'undefined') {
                    timeline.push(year_month);
                    timelineArticles[year_month] = [];
                }
                timelineArticles[year_month].push(item);
            });
        }

        function createElement(timeline, timelineArticles) {
            var elements = "";
            timeline.forEach(function (time) {
                elements += '<div class="timeline-container"><div class="timeline-label"><span class="label label-primary arrowed-in-right label-lg"><b>' + time + '月份</b></span></div><div class="timeline-items">';
                var articles = timelineArticles[time];
                articles.forEach(function (article) {
                    elements += '<div class="timeline-item clearfix"><div class="timeline-info"><i class="timeline-indicator ace-icon fa ' + article.icon + ' btn btn-success no-hover"></i><span class="label label-info label-sm">' + article.time + '</span></div><div class="widget-box transparent" style="margin-left: 80px;"><div class="widget-body"><div class="widget-main"><a href="${base}/article/html/' + article.id + '" class="blue">' + article.title + '</a><div class="pull-right"><i class="ace-icon fa fa-clock-o bigger-110"></i>' + article.hour + '</div></div></div></div></div>';
                });
                elements += '</div></div>';
            });
            $("#articles").append(elements);
        }

        initTimelineArticles();
    })();
</script>
</body>
</html>
